ody {
    background: rgb(215, 211, 211);
    
}

.titulo {
    display:flex;
    justify-content: center;
    background: white;
}

.caja {
    background: white;
    border: 20px;
    width: 600px;
	height: 620px;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 100px;
}

.header-caja{
    display: flex;
}

.header-caja h2 {
  padding: 1px;
  margin-left: 8px;
  margin: 10px;

}

.header-caja p {
  margin-left: 425px;
  color: grey;
    
}

.body-caja img {
    width: 100%;
    height: 500px;
}

.footer-caja {
    margin-left: 15px;
    
}
    